@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.total-container {
  width: 90%;
  height: 90%;
  margin: auto;
}

.header-container > h1 {
  font-size: 2rem;
  font-weight: bold;
}

.todo-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 0;
}

.add-btn,
.submit-btn {
  font-size: 1.1rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #c7ced9;
  box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  padding: 10px;
}

.todo-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.todo-form > input {
  width: 45%;
  text-align: center;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
}

.add-btn:hover,
.submit-btn:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.done ~ span {
  text-decoration: line-through;
}

.kanban-content {
  width: 100%;
  display: flex;
  gap: 1rem;
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 12px;
}

.kanban-content ul {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  list-style: none;
}

.kanban-content section {
  width: 100%;
}

.list-box {
  min-height: 200px;
  padding: 1rem;
}

.kanban-content h3 {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.not-started-badge {
  background-color: #d5eafb;
}

.progress-badge {
  background-color: #ffdcdc;
}

.done-badge {
  background-color: #ddf3da;
}

li {
  padding: 10px 0;
  border-radius: 20px;
}

.todoDeletetBtn,
.todoUpdateBtn {
  font-size: 0.8rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #c7ced9;
  box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
}

.todoDeletetBtn {
  color: tomato;
}

.todoUpdateBtn {
  color: cornflowerblue;
}

.todoDeletetBtn:hover,
.todoUpdateBtn:hover {
  cursor: pointer;
}

.draggable {
  display: flex;
  align-items: center;
  gap: 3px;
}

.todoContentInput {
  width: 60%;
}
